/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-transition: 0.3s;
}
body {
  background-color: #f8f8f8;
  font-family: "Cairo", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

.slider {
  margin: 50px auto;
}

.slider .container {
  position: relative;
}

.slider .slider-container {
  position: relative;
  min-height: 500px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  overflow: hidden;
  box-shadow: 1px 0 12px 5px rgb(0 0 0 / 40%);
}

.slider .slider-container .slide-number {
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 20px;
  background-color: rgb(255 255 255 / 35%);
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.slider .slider-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.slider .slider-container img.active {
  opacity: 1;
}

.slider .slider-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
}

.slider .slider-controls span {
  display: inline-block;
}

.slider .slider-controls span.prev,
.slider .slider-controls span.next {
  min-width: 100px;
  padding: 5px 25px;
  color: white;
  background-color: #009688;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  user-select: none;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.slider .slider-controls span.prev:hover,
.slider .slider-controls span.next:hover {
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.slider .slider-controls span.disabled {
  background-color: rgb(0 150 136 / 45%);
  cursor: no-drop;
}

.slider .slider-controls span.indicators ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider .slider-controls span.indicators li {
  background-color: #ddd;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.slider .slider-controls span.indicators li:hover {
  transform: scale(1.07);
  -webkit-transform: scale(1.07);
  -moz-transform: scale(1.07);
  -ms-transform: scale(1.07);
  -o-transform: scale(1.07);
}

.slider .slider-controls span.indicators li.active {
  background-color: #009688;
}
